/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;
    /*========== z-index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    min-height: -webkit-fill-available;
}
body,
button,
input,
textarea {
    font-family: var(--body-font);
}
ul {
    list-style: none;
}
li {
    list-style-type: none;
}
a {
    color: #000;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
textarea {
    resize: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
textarea::-webkit-scrollbar {
    width: 0 !important;
}
/*=============== GLOBAL CSS ===============*/
/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    width: 100%;
    padding: 2rem 0;
}
.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.125rem;
}
.section-subtitle {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.785rem;
}
.text-center {
    text-align: center;
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
}
.grid-center {
    display: grid;
    place-items: center;
}
.b-shadow {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}
.border {
    border: 1px solid #000;
}
/*=============== GLOBAL ELEMENTS ===============*/
/*=============== NAV MENU AREA ===============*/
/*=============== CONTAINER ===============*/
.header {
    width: 225px;
    height: 100vh;
    background: #1B8084;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
/*=============== LOGO ===============*/
.nav__logo {
    text-align: center;
}
.nav__logo img {
    width: 150px;
}
/*=============== MENU ===============*/
.nav__menu {
    padding: 1rem 0;
}
/*=============== SINGLE LINK ===============*/
.nav__item {
    margin-bottom: 1.5rem;
}
/*=============== SINGLE LINK ===============*/
.nav__item:first-child {
    margin: 0 1rem 1rem;
    border-top: 0.1rem solid #FFF;
    border-bottom: 0.1rem solid #FFF;
    line-height: 3;
}
.nav__item:first-child i {
    margin-left: 0;
}
/*=============== REMOVING BOTTOM MARGIN FOR LAST LINK ===============*/
.nav__item:last-child {
    margin-bottom: 0;
}
/*=============== LINK ===============*/
.nav__link {
    font-size: 0.938rem;
    font-weight: 500;
    color: #FFF;
    transition: color 0.45s linear;
    text-transform: capitalize;
}
/*=============== HOVER EFFECT ===============*/
.nav__link:hover {
    color: #000;
}
/*=============== LINK ICON ===============*/
.nav__link i {
    margin: 0 0.5rem 0 1rem;
}
/*=============== NAV MENU END ===============*/
/*=============== NAV TOP MAR ===============*/
nav.top-nav {
    width: calc(100% - 225px);
    height: 75px;
    position: fixed;
    left: 225px;
    top: 0;
    padding-right: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1000;
    background: #FFF;
}
nav.top-nav a.top__nav-link {
    padding: 10px 15px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #FFF;
    background: #1B8084;
    line-height: 1;
    border-radius: 5px;
}
nav.top-nav a.top__nav-link i {
    font-size: 1rem;
    margin-right: 8px;
    color: #FFF;
}
/*=============== USER NAME ===============*/
.user__portal .u__name {
    color: #858796;
    font-weight: 500;
}
/*=============== USER IMG ===============*/
.user__portal img.u__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
    border: 1px solid #858796;
    display: inline-block;
}
.user__portal .u__img img {
    width: 100%;
    object-fit: cover;
}
/*=============== TOP NAV WRAPPER ===============*/
.wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
}
/*=============== USER PORTAL ===============*/
.user__portal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*=============== portal menu ===============*/
.portal-menu {
    width: 130px;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 60px;
    background: #FFF;
    z-index: 100;
    border-radius: 10px;
    /* opacity: 0; */
}
.portal-menu li {
    line-height: 2;
    margin-bottom: 5px;
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
}
.portal-menu li:last-child {
    margin-bottom: 0;
}
.portal-menu li i {
    margin-right: 5px;
}
.portal-menu li a {
    transition: all 0.3s linear;
}
.portal-menu li a:hover {
    color: #1B8084;
}
/*=============== DIVIDER ===============*/
.nav__divider {
    width: 1px;
    height: 40px;
    background: #858796;
}
/*=============== FOOTER AREA ===============*/
footer.footer {
    width: calc(100% - 225px);
    height: 60px;
    position: fixed;
    left: 225px;
    bottom: 0;
    background: #FFF;
    color: #858796;
    font-weight: 400;
    font-size: 0.8rem;
    z-index: 1000;
}
/*=============== MAIN AREA ===============*/
main.main {
    width: calc(100% - 225px);
    min-height: 100vh;
    position: absolute;
    left: 225px;
    top: 0;
    padding: 8rem 2rem 6rem;
    margin-bottom: 60px;
    z-index: 100;
}
/*=============== MAIN TITLE ===============*/
h2.main-title {
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    color: #1B8084;
    line-height: 1;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px) {

}
/* For medium devices */
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 992px) {

}
/* For large devices */
@media screen and (min-width: 968px) {

}