/*=============== CONTAINER ===============*/
div.container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem 1.5rem;
    border-radius: 14px;
}
/*=============== FLEXBOX ===============*/
.content .form-container,
.content .table-container {
    width: 50%;
}
.content {
    display: flex;
    gap: 25px;
}
/*=============== BACK TO BUTTON ===============*/
div.button-page a {
    margin-bottom: 1.5rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    background: #1B8084;
    padding: 8px 16px;
    color: #FFF;
    cursor: pointer;
}
/*=============== ITEM FORM ===============*/
.form-item {
    min-height: 100px;
    min-width: 50%;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #FFF;
}
/*=============== LABEL ===============*/
.form-item label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #858796;
}
/*=============== TEXT INPUT ===============*/
.form-item input[type='text'] {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    outline: none;
    background: none;
    padding-left: 0.5rem;
    transition: border 0.2s linear;
}
/*=============== TEXT INPUT FOCUS MODE ===============*/
.form-item input[type='text']:focus {
    border: 2px solid rgba(133, 135, 150, 0.4);
}
/*=============== SUBMIT INPUT ===============*/
.form-item input[type='submit'] {
    font-size: 1.15rem;
    font-weight: 400;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #1B8084;
    padding: 5px 25px;
    color: #FFF;
    cursor: pointer;
}
/*=============== SUBMIT BUTTON ===============*/
.form-item:last-child {
    border: 0;
    min-height: auto;
    text-align: right;
    padding: 0;
    margin: 1rem 0;
}
/*=============== TABLE ===============*/
table.category-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}
/*=============== TH, TD DESIGN ===============*/
table.category-table th,
table.category-table td {
    background: #FFF;
    color: #858796;
    padding: 14px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    text-align: left;
}
/*=============== EDIT BUTTON ===============*/
table.category-table td span {
    margin-top: 5px;
    display: block;
}
/*=============== EDIT LINK ===============*/
table.category-table td span a {
    margin-top: 5px;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 5px;
    background: #1B8084;
    padding: 5px 15px;
    color: #FFF;
    cursor: pointer;
}